html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 90px;
    /* Margin bottom by footer height */
    margin-bottom: 90px;
}

.navbar-text {
    margin-bottom: 0px;
}

.navbar-logo {
    height: 25px;
    margin-right: 10px;
}

.nav-logo {
    max-height: 50px;
}

.footer {
    background: url('../images/footer-grass.png') repeat-x;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 80px;
}

.footer-links {
    margin-top: 55px;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 1.1em;
}

.footer-links a {
    color: green;
}

.thumbnail img {
    height: 300px;
}

table.table tr td {
    border-top: 0px;
}

table.table td.match-metadata {
    border-bottom: 1px solid #ddd;
    padding: 0px;
}

table.table tr.match {
    font-size: 1.2em;
    margin-bottom: 15px;
}

table.table tr.match td.match-team {
    width: 40%;
}

table.table tr.match td.match-score {
    width: 10%;
    font-size: 1.3em;
}
